Options -Indexes

<FilesMatch "\.(json|yaml)$">
Order Allow,Deny
Deny from all
</FilesMatch>

# Rewrite all traffic through index

RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(scripts/formprocess.php)$

RewriteRule ^.*$ ./index.php
