@import "mixins", "variables";
body, html {
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
.header {
    background-color: black;
    width: 100%;
    padding: 7px 20px;
    height: 47px;
    @include border-box();
    & .title {
        font-family: $title-font;
        font-size: 26px;
        float: left;
    }
    & .user {
        float: right;
        margin-top: 7px;
    }
    & a {
        color: white;
        text-decoration: none;
    }
}
.content {
    padding: 10px;
    margin-top: 15px;
    @include border-box();
}
.message {
    width: 100%;
    padding: 3px 3px 3px 20px;
    @include border-box();
    color: white;
    &.good {
        background-color: #388E3C;
    }
    &.bad {
        background-color: #F44336;
    }
    &:empty {
        display: none;
    }
}
.projectTable {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
    border-bottom: 1px solid #CCCCCC;
    & th {
        background-color: #F2F2F2;
        font-weight: 500;
        font-size: 17px;
        padding: 6px 0;
        border-top: 1px solid #CCCCCC;
        &:first-child {
            border-top-left-radius: 10px;
            border-left: 1px solid #CCCCCC;
        }
        &:last-child {
            border-top-right-radius: 10px;
            border-right: 1px solid #CCCCCC;
        }
    }
    & td {
        padding: 6px 0;
        & a {
            text-decoration: none;
            color: black;
            display: block;
        }
        &:first-child {
            border-left: 1px solid #CCCCCC;
        }
        &:last-child {
            border-right: 1px solid #CCCCCC;
        }
    }
    & tr {
        &:last-child {
            border-bottom: 1px solid #CCCCCC;
        }
        &:nth-child(odd) {
            background-color: #F8F8F8;
        }
    }
}
.userForm {
    text-align: center;
    & .title {
        font-size: 22px;
        font-weight: 500;
    }
    & input:not([type="submit"]) {
        border: 1px solid #D8D8D8;
        padding: 5px;
        border-radius: 3px;
    }
    & input[type="submit"] {
        padding: 10px;
        background-color: #2196F3;
        border: none;
        color: white;
        font-variant: small-caps;
        font-size: 18px;
        box-shadow: none;
        -webkit-transition: box-shadow .5s;
        -moz-transition: box-shadow .5s;
        -ms-transition: box-shadow .5s;
        -o-transition: box-shadow .5s;
        transition: box-shadow .5s;
        &:hover {
            cursor: pointer;
            box-shadow: inset 0 0 0 5px #3071A9;
        }
    }
}
